<div class = 'col-md-10 col-md-offset-1'>
    <div class = 'message-show'>
    <h1><%= @message.title %></h1>
        <p class = 'message-posted-by'><%= time_ago_in_words(@message.created_at)%> ago</p>
        <p class = 'message-desc'><%=@message.description %></p>
        <div class = 'links btn-group'>
            <%= link_to "back", root_path, class: "btn btn-default"%>
    <%= link_to "Edit", edit_message_path, class: "btn btn-primary" %>
    <%= link_to "Delete", message_path(@message),method: :delete,  class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
        </div>
    </div>
</div>